/*Main page achitecture */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
line-height: 1.5;
}

/*Header */
header {
    background-color: #003366;
    color: #ffffff;
    padding: 16px;
    text-align: center;
}

h1 {
    margin: 0 0 10px;
    font-size: 1.25rem;
}

/*Header Menu */
nav {display: flex;
    justify-content: center;
    gap: 50px;    
}


nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
   text-decoration: underline;}

/*Consent Form Setup */

label {
    display: block;
    margin: 12px 0;
    font-weight: 600;
}

section {
    background-color: white;
    padding: 20px;
    margin: 15px auto;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
   
/*Text input areas */
input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font:inherit
}
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 7px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
      font:inherit
}

input:focus, textarea:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}